nav {
  display: flex;
  padding: 20px 50px; 
  position: sticky;
  top: 0;
  justify-content: space-between;
  background-color: rgba(18, 18, 18, 0.7);
  z-index: 100;
  position: relative;
}

nav .navlink-l {
  list-style-type: none;
  padding: 0; 
  margin: 0;
}

a {
  color: var(--text);
  text-decoration: none;
}

nav .navlink-l>li {
  display: inline-block;
}

.navlink-l li>a {
  padding: 20px 40px;
  transition: padding 0.5s ease;
}

ul.navlink-l li>a::before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: var(--text);
  transition: width 0.4s ease;
}

ul.navlink-l li>a:hover::before {
  width: 100%;
}

.burger-bar-cont {
  display: none;
  position: relative;
}

.menubox-options {
  display: none;
  position: absolute;

}

.myself {
  display: flex;
  padding-top: 80px;
  padding-left: 89px;
  padding-right: 50px;
  height: 100vh;
  transition: padding 0.5s ease;
}

.profile-section {
  padding-right: 89px;
  justify-content: center;
  text-align: center;
  transition: padding 0.5s ease;
}

.profile-section h1 {
  font-size: 35px;
}

.div-profile {
  height: 300px;
  width: 300px;
  border: 3px solid var(--text);
  border-radius: 50%;
  margin-bottom: 20px;
}

.div-profile>img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-position: top;
  object-fit: cover;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
  transition: box-shadow 0.5s ease;
}

.div-profile>img:hover {
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
}

.position {
  font-size: 14px;
}

.greetings {
  padding-top: 50px;
}

.greetings>h2 {
  display: inline-block;
  font-size: 60px;
  border-bottom: 2px solid var(--text);
  margin-bottom: 28px;
  padding: 0;
}

.headings {
  width: 180px;
  font-size: 30px;
  padding: 5px 0;
  margin-bottom: 15px;
}

.white {
  border-bottom: 2px solid var(--text);
}

.black {
  border-bottom: 2px solid var(--bg);
}

.skill-section {
  padding: 20px 50px;
  color: var(--bg);
  background-color: rgb(236, 236, 236);
}

#skills {
  padding-top: 30px;
}

#skills ul {
  padding-left: 30px;
  padding-bottom: 10px;
}

