@media screen and (max-width: 1000px) {
  .nav-l li>a {
    padding: 20px 29px;
  }
}

@media screen and (max-width: 870px) {
  .nav-l li>a {
    padding: 20px 20px;
  }

  .myself {
    padding-left: 50px;
  }

  .profile-section {
    padding-right: 50px;
  }
}

@media screen and (max-width: 775px) {
  .myself {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    height: auto;
    padding-bottom: 30px;
  }

  .profile-section {
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav .nav-l {
    display: none;
  }

  .burger-bar-cont {
    display: inline-block;
  }

  .nav-s {
    display: none;
  }

  .greetings {
    display: block;
  }

  .greetings>h2 {
    font-size: 50px;
    display: inline-block;
  }
}